

#welcome-user{
    color:white;
}
body {
    align-content: center;
}
  h6{
      margin-left:auto;
      margin-right:auto;
  }
  .container-fluid {
    margin-top: 20px;
    margin-left: 20px;
  }
  .search{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  }
  .Menu{
    margin-bottom: 1px;
    background-color: #000000;
  }
  .search-btn{
    margin-left: 20px;
  }
  .logo{
    margin: auto;
    padding: 10px 10px;
  }
  #icon{
    height: 100px;
    width: 100px;
  }
  #tvShowName{
    margin-left: 10%;
  }
#poster {
    width: 100%;
    height: 50%;
    box-shadow: 5px 5px 10px 4px rgb(54 53 53 / 58%);
    border-radius: 10px;
}
h6#episod-name {
    margin-left: 5px;
    margin-top: 5px;
}
/* CHAT STRAT */
.chat-window{
    border: 2px rgba(255, 255, 255, 0.486) solid;
    /* height: 100%; */
    border-radius: 10px;
    background-color: #00000073;
    /* overflow:hidden; */
    margin-bottom: 10px;
}
#chat-input{
margin-bottom: 10px;
margin-left: 5px;
border-radius: 5px;
width: 70%;
margin-top: 5px;
}
.message{
    font-size: 20px;
    margin-left: 5px;
    border: #000000;
    
}
#chat-send-btn{
  margin-left: 20px;  
}
#chat-messages{
overflow-x: hidden;
overflow-y: scroll;
border-radius: 10px;
background-color: #FFF;
height: 400px;
max-height: 400;
}
#chat-name {
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 0 8px black;
    color: white;
    font-weight: 300;
    font-family: monospace;
}
/* CHAT END */
.myButton {
    background-color: #0059fd;
    border-radius: 28px;
    border: 1px solid #009cfd85;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-left: 10px;

}

  .myButton:hover {
    background-color:#0059fda4;
    }
 .myButton:active {
	position:relative;
	top:1px;
}
 /*rules*/
select#seasonselect {
    width: 100%;
}
button#addtofav-btn {
    margin-left: 55%;
    margin-top: 10%;
}
h4#episod-name {
    margin-top: 10px;
    font-size: 17px;
}
h6#episod-date {
    margin-left: 3px;
    font-family: unset;
}
.tv-show-name {
    grid-area: tv-show-name;
    color: white;
    font-size: 30px;
}
.tv-show-img {
    border-radius: 10px;
    height: 350px;
    width: 60%;
    margin-left: 25%;
}

.search {
    background-image: linear-gradient(180deg, #000000c2 0%, #009efd 100%);
}

.scrollbar {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background: #0808081c;
    margin-bottom: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
}

/* #chat-message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#chat-message::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#chat-message::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#000000), to(rgb(0, 0, 0)), color-stop(.6,#000000))
} */


#style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#000000), to(rgb(0, 0, 0)), color-stop(.6,#000000))
}

.episodecard {
    display: inline-block;
    width: 300px;
    height: 275px;
    box-shadow: #2af598;
    margin-right: 15px;
    box-shadow: 5px 5px 10px 4px rgb(54 53 53 / 58%);
    background-color: white;
    border-radius: 10px;
}

/* GRID START */
.gcontainer {
    display: grid;
    grid-template-columns: 0.2fr 1.6fr 1.4fr 1.6fr 0.2fr;
    grid-template-rows: 0.6fr 0.4fr 2fr 1fr 1.7fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Menu Menu Menu Menu Menu"
        ". search search search ."
        ". content content content ."
        ". content content content ."
        ". content content content ."
        ". . made-by . .";
}

.Menu {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.5fr 0.7fr 0.7fr 1.1fr;
    grid-template-rows: 0.9fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo . . . . ."
        "logo your-fav-tv . login register wellcome"
        "logo . . . admin-panel-btn disconnect-btn";
    grid-area: Menu;
}

.register {
    grid-area: register;
}

.login {
    grid-area: login;
}

.logo {
    grid-area: logo;
}

.your-fav-tv {
    grid-area: your-fav-tv;
}

.wellcome {
    grid-area: wellcome;
}

.disconnect-btn {
    grid-area: disconnect-btn;
}

.admin-panel-btn {
    grid-area: admin-panel-btn;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        "search-text search-text search-btn"
        ". . .";
    grid-area: search;
}

.search-text {
    grid-area: search-text;
}

.search-btn {
    grid-area: search-btn;
}

.made-by {
    grid-area: made-by;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.3fr 1.4fr 0.6fr 1fr 1fr 1fr 1.4fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "tv-show-image tv-show-image tv-show-name tv-show-name . . season-render chat chat ."
        "tv-show-image tv-show-image tv-show-overview tv-show-overview tv-show-overview tv-show-overview . chat chat ."
        "tv-show-image tv-show-image tv-show-overview tv-show-overview tv-show-overview tv-show-overview quizz-btn chat chat ."
        "render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes"
        "render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes render-episodes"
        "render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations"
        "render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations render-recommendations";
    grid-area: content;
    box-shadow: 6px 12px 10px 4px rgb(54 53 53 / 58%);
    background-image: linear-gradient(0deg, #000000fc 0%, #009efd 100%);
    height: 100%;
}

.render-episodes {
    grid-area: render-episodes;
}

.render-recommendations {
    grid-area: render-recommendations;
}

.tv-show-name {
    grid-area: tv-show-name;
}

.chat {
    grid-area: chat;
}

.season-render {
    grid-area: season-render;
}

.quizz-btn {
    grid-area: quizz-btn;
}

.tv-show-overview {
    grid-area: tv-show-overview;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.tv-show-image {
    grid-area: tv-show-image;
}


.Menu {
    box-shadow: -1px 12px 20px 13px black;
}

  /* GRID END*/